<div class="ui secondary pointing menu">
  <a class="item" {{action 'goTo' 'profile'}}>
    Perfil
  </a>
  <a class="item active" {{action 'goTo' 'artsearch'}}>
    Productos
  </a>
  <a class="item" {{action 'goTo' 'order'}}>
    Pedidos
  </a>
  <div class="right menu">
    <a class="ui item" {{action 'signOut'}}>
      	Salir
    </a>
    <a class="ui item">
    	<i class="material-icons prefix"{{action 'goTo' 'shop'}}>shopping_cart</i>
    </a>
  </div>
</div>

{{#if compra}}
  <div class="ui segment">
    {{!-- <div class="col s6">
    </div> --}}
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s10">
            {{input placeholder="Buscar" id="Buscar" type="text" class="validate"}}
          </div>
          <div class="col s2">
            <button class="transparent"><i class="search link icon"></i></button>
          </div>
        </div>
      </form>
    </div>
    
    <div class="ui inverted segment">
      <div class="ui inverted relaxed horizontal list">
        {{#each model as |producto|}}
          <div class="item">
            <div class="content">
              <div class="header">{{producto.name}}</div>
              <div class="row">
                <div class="col s12">
                  ${{producto.price}}
                  <br><br>
                  Stock: {{producto.amount}}
                  <br><br>
                </div>
                <div class="col s2">
                  <div class="ui vertical animated button" tabindex="0" {{action 'addshop' producto.id}}>
                    <div class="hidden content">Añadir</div>
                    <div class="visible content">
                      <i class="shop icon"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <center>
      <button class="ui primary button" {{action 'continuar'}}>Guardar y continuar</button>
    </center>
  </div>
{{else}}
  <center>
    <div class="huge ui buttons">
      <button class="positive ui button" {{action 'inciarCompra'}}>Comenzar compra</button>
    </div>
  </center>
{{/if}}
     
