<div class="ui secondary pointing menu">
  <a class="item " {{action 'goTo' 'info'}}>
    Info. Gral.
  </a>
  <a class="item" {{action 'goTo' 'invent'}}>
    Inventario
  </a>
  <a class="item" {{action 'goTo' 'pedidos'}}>
    Pedidos Clientes
  </a>
  <a class="item active" {{action 'goTo' 'adminacc'}}>
    Administrar Cuentas
  </a>
  <div class="right menu">
    <a class="ui item" {{action 'signOut'}}>
      	Salir
    </a>
  </div>
</div>
<div class="ui segment">
  <div class="ui list">
  {{#each model as |client|}}
    <div class="item">
      <img class="ui avatar image" src="/images/avatar2/small/rachel.png">
      <div class="content">
        <a class="header">{{client.name}}</a>
        <div class="description">
          Correo:
          <a>
            <b>
              {{client.email}}
            </b>
          </a>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
  

</div>