<div class="ui secondary pointing menu">
  <a class="item" {{action 'goTo' 'info'}}>
    Info. Gral.
  </a>
  <a class="item active" {{action 'goTo' 'invent'}}>
    Inventario
  </a>
  <a class="item" {{action 'goTo' 'pedidos'}}>
    Pedidos Clientes
  </a>
  <a class="item" {{action 'goTo' 'adminacc'}}>
    Administrar Cuentas
  </a>
  <div class="right menu">
    <a class="ui item" {{action 'signOut'}}>
      	Salir
    </a>
  </div>
</div>
<div class="ui segment">
	{{regis-products invent=model}}
  {{!-- <ul>
  {{#each model.products as |producto|}}
    <li>
      {{#link-to 'evento-detail' producto.id tagName='button'}}
        {{producto.name}}
   {{!--    {{/link-to}}
    </li>
  {{/each}}
</ul>	 --}} 
</div>

