
<div class="ui container">
	<div class="card-panel transparent" style="text-align: center;">
		<form class="ui form">
			<h4 class="ui dividing header">Inicia Sesión</h4>
			<div class="field">
				<label>Usuario o correo</label>
				<div class="ui input" style="width: 25%;">
		        	{{input type="email" placeholder="Usuario o correo" value=name}}
				</div>
				<p></p>
		        <label>Contraseña</label>
				<div class="ui input" style="width: 25%;">
			        {{input type="password" placeholder="Contraseña" vale=password}}
		        </div>
			</div>
		</form>
		<p></p>
		<button class="ui button" {{action 'sigIn' 'email'}}>Iniciar sesión</button>
		<div class="ui horizontal transparent divider">Ó</div>
		<button class="ui inverted black button" {{action 'Registrate'}}>Registrate</button>
		<p></p>
		<button class="ui facebook button" {{action 'sigIn' 'facebook'}}>
		 	<i class="facebook icon"></i>
		  	Facebook
		</button>
		<button class="ui twitter button" {{action 'sigIn' 'twitter'}}>
			<i class="twitter icon"></i>
		  	Twitter
		</button>
		<button class="ui google plus button" {{action 'sigIn' 'google'}}>
		  	<i class="google plus icon"></i>
		  	Google Plus
		</button>
	</div>
</div>
		



