<div class="ui secondary pointing menu">
  <a class="item" {{action 'goTo' 'profile'}}>
    Perfil
  </a>
  <a class="item" {{action 'goTo' 'artsearch'}}>
    Productos
  </a>
  <a class="item active" {{action 'goTo' 'order'}}>
    Pedidos
  </a>
  <div class="right menu">
    <a class="ui item" {{action 'signOut'}}>
      	Salir
    </a>
    <a class="ui item">
    	<i class="material-icons prefix"{{action 'goTo' 'shop'}}>shopping_cart</i>
    </a>
  </div>
</div>