<div class="ui secondary pointing menu">
  <a class="item active" {{action 'goTo' 'profile'}}>
    Perfil
  </a>
  <a class="item" {{action 'goTo' 'artsearch'}}>
    Productos
  </a>
  <a class="item" {{action 'goTo' 'order'}}>
    Pedidos
  </a>
  <div class="right menu">
    <a class="ui item" {{action 'signOut'}}>
      	Salir
    </a>
    <a class="ui item">
    	<i class="material-icons prefix"{{action 'goTo' 'shop'}}>shopping_cart</i>
    </a>
  </div>
</div>
{{!-- <div class="ui segment"> --}}
  	<ul class="collection with-header">
        <li class="collection-header"><h4>Datos</h4></li>
        <li class="collection-item">Nombre: {{model.name}}{{model.sname}}</li>
        <li class="collection-item">Telefono: {{model.phone}} </li>
        <li class="collection-item">Dirección: {{model.street}} No. {{model.addnum}}</li>
        <li class="collection-item">Correo: {{model.email}}</li>
    </ul>
{{!-- </div> --}}




